{% extends "base_page.html" %}
{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/data_base_funcs.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='parser_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='data_base_styles.css') }}">

<div class="container ">
<a href="https://v3c.ru/javascript/sort-table" target="_blank">Сортировка таблицы</a>

  <div class="" id = 'links_block'>
    <h3>список ссылок</h3>

    <p onclick="get_links_info()" id = "p_btn_draw_links"> Нарисовать таблицу >>> </p>
  </div>

</div>

{% endblock %}
