{% extends "base_page.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='parser_styles.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/funcs_parser/check_link_page.js') }}"></script>

<div class="parser_nav_bar">
  <a href="{{url_for('open_parser')}}">Проверка ссылок</a>
  <a href="{{url_for('file_parser')}}">Загрузить файл</a>
</div>

<div class="checker_container">
  <div class="online_parser check_block">
    <form action="javascript:parse_link()" method="post" name="form" id="form_link">
      <label for="name">Вставьте ссылку:</label>
      <input id="link_input" name="name" type="text">
      <input type="button" value="Отправить" onclick="parse_link();">
    </form>
    <p><i>(Работает только ситилинк и компмаркет (пока что))</i></p>
    <h2 id="loading"></h2>
  </div>
  <div id="row_list" class="row_list check_block">
    <h2>Магазины</h2>
    <input type="text" name="" value="" placeholder="Поиск">
    <script>
      draw_main_page_list()
    </script>
  </div>
  <div id = "settings_block" class="setting_blog check_block">
    <h2>Теги для парсера:</h2><br>
    <!-- <div class="circle_btn" id="crcl_r"></div> -->
    <!-- <div class="circle_btn" id="crcl_y"></div> -->
    <!-- <div class="circle_btn" id="crcl_g"></div> -->
    <h3 id="set_main_page">_ _ _ _ _ _ _ _ _</h3><br>
    <!-- <div style="display: flex;" id = "set_row_price"></div> -->
    <!-- <div style="display: flex;" id = "set_row_name"></div> -->
    <!-- <div style="display: flex;" id = "set_row_chars"></div> -->
    <div id = "block_for_sett_tags">

    </div>
    <br>
    <h3>BeautifulSoup</h3>

    <p>кнопка копировать вставить настройки</p>

  </div>


  <div class="clear_div"></div>
  <div class="parsed_links check_block" id="parse_result_block">
    <h2 float = "left">Результаты: </h2><p>citilink.ru Моноблок 50 000 руб. перейти на сайт</p>
    <p>Старые и новые ссылки (обновить, показать скриншот)</p>
  </div>

  <h1>блок Загрузить файл</h1>
  <p>После прочтения файла в блоке главных страниц появиться btn "Обновить"</p>

</div>


{% endblock %}
