{% extends "base_page.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='parser_styles.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/funcs_parser/check_link_page.js') }}"></script>

<div class="parser_nav_bar">
  <a href="{{url_for('open_parser')}}">Проверка ссылок</a>
  <a href="{{url_for('file_parser')}}">Загрузить файл</a>
</div>

<div class="checker_container comon_styles">

  <div class="online_parser check_block comon_styles">
    <form action="javascript:parse_link()" method="post" name="form" id="form_link">
      <label for="name">Вставьте ссылку:</label>
      <input id="link_input" name="name" type="text">
      <input type="button" value="Отправить" onclick="parse_link();">
    </form>
    <h2 id="loading"></h2>
  </div>

  <div id="row_list" class="rows_list check_block comon_styles">
    <h2>Магазины</h2>
    <input id="search_shop" onkeyup="shop_filter()" type = "search" name="" placeholder="Поиск">
    <script>
      draw_shops_list()
    </script>
  </div>

  <div id="settings_block" class="setting_blog check_block comon_styles">
    <h2>Теги для парсера:</h2><br>

    <h3 id="set_main_page">_ _ _ _ _ _ _ _ _</h3><br>

    <div id="block_for_sett_tags"></div>

    <!-- <br> -->
    <p id = "use_selenium_message"></p><input type="checkbox" id="scales">

    <div id="btn_show_few_links" >
      <!-- <p></p> <p>Отпарсить</p> style="display: grid"-->
    </div>


  </div>


  <div class="clear_div"></div>
  <div class="parsed_links check_block comon_styles" id="parse_result_block">
    <h2 float="left">Результаты: </h2>
    <p>citilink.ru Моноблок 50 000 руб. перейти на сайт</p>
    <p>Старые и новые ссылки (обновить, показать скриншот)</p>
  </div>
    <div class="clear_div"></div>
  <div class = "comon_styles">
    <h2>Загрузить файл</h2>
    <p>После прочтения файла в блоке главных страниц появиться btn "Обновить"</p>
    <p>формы для ввода в sql WTF</p>
  </div>
  <div class="comon_styles">
    <h2>Дополнения:</h2>
    <p>DEL/SAVE ИКОНКИ</p>
    <p>При наведени на кнопки "рука"</p>
    <p>При в воде тегов предлагать варианты (возможно из БД)</p>
  </div>


</div>


{% endblock %}
