{% extends "base_page.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='parser_styles.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/funcs_parser/check_link_page.js') }}"></script>

<div class="parser_nav_bar">
  <a href="{{url_for('open_parser')}}">Проверка ссылок</a>
  <a href="{{url_for('file_parser')}}">Загрузить файл</a>
  <a href="{{url_for('links_base')}}">БД ссылок</a>
</div>

<div class="checker_container">
  <div class="online_parser check_block">
    <form action="javascript:parse_link()" method="post" name="form" id="form_link">
      <label for="name">Вставьте ссылку:</label>
      <input id="link_input" name="name" type="text">
      <input type="button" value="Отправить" onclick="parse_link();">
    </form>
    <p><i>(Работает только ситилинк и компмаркет (пока что))</i></p>
    <h2 id="loading"></h2>
  </div>
  <div id="row_list" class="row_list check_block">
    <h2>Магазины</h2>
    <input type="text" name="" value="" placeholder="Поиск">
    <script>
      draw_json_dict()
    </script>
  </div>
  <div class="setting_blog check_block">
    <h2>Теги для парсера:</h2>
    <div class="circle_btn" id="crcl_r"></div>
    <div class="circle_btn" id="crcl_y"></div>
    <div class="circle_btn" id="crcl_g"></div>
    <h3 id="set_main_page">_ _ _ _ _ _ _ _ _</h3>
    <p>Цена: div class = "price"</p>
    <p>Название: div class = "product_name"</p>
    <p>Характеристика: div class = "Product_churs"</p>
    <h3>BeautifulSoup</h3>

    <p>кнопка копировать вставить настройки</p>

  </div>


  <div class="clear_div"></div>
  <div class="parsed_links check_block" id="parse_result_block">
    <h2>Результаты: </h2>
  </div>
  <h1>блок ссылок главной страницы</h1>
  <h1>блок добавить файл</h1>

</div>


{% endblock %}