{% extends "base_page.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='parser_styles.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/funcs_parser/check_link_page.js') }}"></script>
<div class="parser_nav_bar">
  <a href="{{url_for('open_parser')}}">Проверка ссылок</a>
  <a href="{{url_for('file_parser')}}">Загрузить файл</a>
</div>

<div class="checker_container">
  <div class="check_block upload_file">
    <input type="file" name="" value="">


  </div>
</div>


{% endblock %}
