body {
  background-color: grey;
  margin: 0 auto;
  width: 1400px;
}
.setting_blog {
  width: 58%;
  min-height: 300px;
  margin-top: 20px;
}

.item{
  cursor: pointer
}


.comon_styles {
  border: 2px dashed green;
  background-color: white;
  box-sizing: border-box;
  padding: 1%;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 2%;
}

legend {
  color: blue;
  cursor: pointer;
}
.confirm_btn {
  color: green;
  /* font-size: 27px; */
  /* box-shadow: 1px 1px 1px 5px; */
}
.cancel_btn {
  color: gold;
  /* font-size: 27px; */
  /* box-shadow: 1px 1px 1px 5px; */
}
.delete_btn {
  color: red;
  /* font-size: 27px; */
  /* box-shadow: 1px 1px 1px 5px; */
}
.change_btn {
  color: blue;
  /* font-size: 27px; */
  /* box-shadow: 1px 1px 1px 5px; */
}
.pct_btn {
  /* color: grey; */
  margin: 1px;
  text-align: center;
  display: block;
  float: right;
  font-size: 26px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.pct_btn:hover {
  font-size: 27px;
  box-shadow: 1px 1px 1px 5px;
}
