* {
  margin: 0;
  padding: 0;
}
body {
  /* background: Pink; */
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
.container {
   /* background: #YELLOW; */
   margin: 0 auto;
   width: 80%;
}
.header {
  height: 1px;
  background-color: #D8D8D8;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  /* background-image: url(../picture/123.jpg); */
  width: 100%;
  /* padding-top: 75px; */
  position: relative;
}
.menu {
  float: right;
  padding-left: 100px;
  padding-right: 100px;
}
.header img {
  padding-left: 25px;
}
.menu-list{
  list-style-type: none;
  float: left;
  text-transform: uppercase;
  padding: 10px 13px;
}
.footer {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background: #D8D8D8;
  height: 50px;
  width: 100%;
}
.footer p {
  font-size: 14px;
  text-align: right;
  padding: 1em;
}
.clear_fix {
  content: "";
  display: table;
  clear: both;
}
