body {
  background-color: grey;
  margin: 0 auto;
  width: 1400px;
}
.setting_blog {
  width: 58%;
  min-height: 300px;
  margin-top: 20px;
}

.item{
  cursor: pointer
}


.comon_styles {
  border: 2px dashed green;
  background-color: white;
  box-sizing: border-box;
  padding: 1%;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 2%;
}

legend {
  color: blue;
  cursor: pointer;
}
.confirm_btn:hover {
  color: green;
  font-size: 27px;
  box-shadow: 2px 1px 2px 2px;
}
.cancel_btn:hover {
  color: gold;
  font-size: 27px;
  box-shadow: 2px 1px 2px 2px;
}
.delete_btn:hover {
  color: red;
  font-size: 27px;
  box-shadow: 2px 1px 2px 2px;
}
.change_btn:hover {
  color: blue;
  font-size: 27px;
  box-shadow: 2px 1px 2px 2px;
}
.pct_btn {
  color: grey;
  margin: 1px;
  text-align: center;
  display: block;
  float: right;
  font-size: 26px;
  cursor: pointer;
  height: 40px;
  width: 40px;

}

.pct_btn {
  /* background-color: grey; */

  /* border: solid 1px black; */
}
/* .pct_btn:hover::after {
 content: attr(class);
} */
