<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Entity Graph</title>
<link rel="stylesheet" href="styles_2.css">
</head>
<body>

<div class="filters" id="filters">
  <div class="filter-actions">
    <button class="action-btn" id="enable-all">Включить все</button>
    <button class="action-btn" id="disable-all">Убрать все</button>
  </div>
  <div class="filter-categories" id="filter-categories"></div>
</div>

<div class="graph" id="graph">
  <svg id="lines"></svg>
  <div id="entities"></div>
</div>

<script src="data.js"></script>
<script src="funcs.js"></script>

</body>
</html>
