{% extends "base.html" %}

{% block title %} Список объектов {% endblock %}

{% block content %}
    <h1>Main</h1>
    <div class="">
      <form class="" action="" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" value="">
        <input type="submit">
      </form>

    </div>

    <div class="">
      {% for object in objects %}
      <p>{{object.id}} <a href="{{url_for('object', object_id=object.id)}}">{{object.name}}</a></p>

      {% endfor %}
    </div>
{% endblock %}
