{% extends "base_page.html" %}
{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/data_base_funcs.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='parser_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='data_base_styles.css') }}">

<div class="container ">


  <div class="" id = 'links_block'>
    <h3>список ссылок</h3>
    <table>
      <tr>
        <th>#</th>
        <th>Domain</th>
        <th>Link</th>
        <th>name</th>
        <th>price</th>
        <th>pars_date</th>
        <th>kkn_type</th>
      </tr>
      <tr>
        <td>1</td>
        <td>citilink.ru</td>
        <td>citilink.ru/123.html</td>
        <td>Notebook</td>
        <td>10000</td>
        <td>24.08.2022</td>
        <td>Ноутбук тип 1</td>
      </tr>
    </table>
    <p onclick="get_links_info()">Нарисовать таблицу >>> </p>
  </div>

</div>

{% endblock %}
