{% extends "base_page.html" %}
{% block content %}
<div class="data_base_menu">
  <li><a href="{{ url_for('subject_page')}}">Предметы</a></li>
  <li><a href="{{ url_for('models_form') }}">Модели</a></li>
  <li><a href="#">Категории</a></li>
  <li><a href="#">ККН-ы</a></li>
</div>

<div class="data_block">

  <ul>


  {% for subject in subj %}
    <h3>Описание: </h3>
    <li>{{ subject}}</li>
      {% if subj[subject]['chars'] %}
        <ul>
          {% for char in subj[subject]['chars'] %}
          <li>{{char}}</li>
          {% endfor %}
        </ul>

      {% endif %}

      {% if subj[subject]['content'] %}
        <ul>
          {% for cont in subj[subject]['content'] %}
          <li>{{cont}}</li>

          {% if subj[subject]['content'][cont]['chars'] %}

            <ul>
              {% for sub_char in subj[subject]['content'][cont]['chars'] %}
              <li>{{sub_char}}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% endfor %}
        </ul>

      {% endif %}

  {% endfor%}
    </ul>

    <div class="subject form">
      <h3>Добавить предмет: </h3>
      <form method="post">
        <input type="text" maxlength="255" name="model_name" placeholder="Наименование предмета" list = "list_of_models">
        <input type="submit" name="model_name_btn" value="Добавить прототип">
      </form>
    </div>
    <datalist id="list_of_models">
      {% for model in models_list%}
      <option value="{{model.name}}">{{model.name}}</option>
      {% endfor %}
      <option value="Новая модель">Новая модель</option>
    </datalist>
  {% if subj_models %}
  <br>
  <h3>Модели: </h3>
  <ul>
    {% for model in subj_models %}
      <li>{{model}}</li>
    {% endfor %}
  {% endif %}
  </ul>
</div>
{% endblock %}
