body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--main-text-color);
}
/* Объявление переменных */
:root {
  /* Цвета */
  --desc-text-color: #666;
  --desc-text-font-size: 12px;
  --form-background-color: #f8f9fa;
  --main-text-color: #212529;
}
.field-desc {
  font-size: var(--desc-text-font-size);
  color: var(--desc-text-color);
  margin-top: 3px; /* убрать от сюда */
  font-weight: 400;
  text-align: center;
}
.field-input {
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  display: none;
}
/* общий контейнер */
.form-block {
  background: var(--form-background-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px 25px;
  user-select: none;
  display: flex;
  flex-direction: column;
  grid-row-gap: 32px;
  align-items: center;
}

/* горизонтальный блок */
.field-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  grid-column-gap: 16px;
  padding: 6px 12px;
  font-weight: 600;
  min-width: 100px;
  min-height: 32px;
}
/* редактируемая ячейка */
.field-cell {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  width: 100%;
}
.field-options {
  position: relative;
  margin-top: 4px;
  user-select: none;
}
.arrow {
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  width: 64px;
  height: 18px;
  padding-right: 2px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.arrow:hover{
  background-color: white;
}
.dropdown {
  position: absolute;
  top: 20px;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 100;
  min-width: 100px;
}

.dropdown div {
  padding: 6px 12px;
  cursor: pointer;
}

.dropdown div:hover {
  background-color: #eee;
}

.hidden {
  display: none;
}
.field-cell:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
/* Добавляем линию слева у всех кроме первого */
.field-cell:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;       /* отступ сверху, чтобы линия была короче */
  bottom: 0;    /* отступ снизу */
  width: 1px;
  background-color: #ccc; /* цвет линии */
}
