{% extends "base_page.html" %}
{% block content %}

      <div class="some_info clear_fix">

        <p>Тут можно получить разную информацию из ссылок (цена, название товара, характеристики)</p>
        <p>Найти ссылку на нужный(ые) товар(ы) по моделям, характеристикам, категории</p>
        <p>сравнить характеристики товаров из одной группы</p>
        <p>Посмотреть отпарсенные ссылки, необходимые скриншоты</p>
        <h3>План работы:</h3>
        <ul>
          <li>страница предметов, (добавить, удалить, изменить <a href="{{ url_for('subjects_form') }}">Предметы</a></li>
          <li>, описание) <a href="{{ url_for('subject_page') }}">Предметы 2</a></li>
          <li>страница моделей, (добавить, удалить, изменить, описание) <a href="{{ url_for('models_form') }}">Модели</a></li>
          <li>Сортировка моделей по предметам, (+ по категориям)</li>
          <li>Наследование подменю</li>
          <li>Переписать стили по одинаковым параметрам (исправить сдвиги)</li>
        </ul>

      </div>
{% endblock %}
