<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/base_styles.css">
    <link rel="stylesheet" href="css/head_foot.css">
    <title>Парсер</title>
  </head>
  <body>

    <div class = "container">
      <div class = "header clear_fix">
	       <a href="main.html"> <img src="picture/Parser100.png" alt="logo"> </a>
         <ul class="menu clear_fix">
           <li class="menu-list"><a href="main.html">Главная </a></li>
           <li class="menu-list"><a href="#" title="Для загрузки списка ссылок">Выбрать файл</a></li>
           <li class="menu-list"><a href="#">Пользователь 1</a></li>
         </ul>
	    </div>
      <div class = "funcs_block">
	       <h2>Основные функции</h2>
         <div class="block">
           <!-- <a href="parser.html">Парсер</a> -->
           <img src="picture/Parser.png" alt="">
           <p>Парсер</p>
           <div class="oneemerge">
             <a href="parser.html">
               <div class="circleemerge">
                 <img src="picture/Parser.png" alt="">
               </div>
               <h3>Открыть парсер</h3>
             </a>
           </div>
         </div>

         <div class="block">
           <img src="picture/Parser.png" alt="">
           <p>База данных</p>
           <div class="oneemerge">
             <a href="data_base.html">
               <div class="circleemerge">
                 <img src="picture/Parser.png" alt="">
               </div>
               <h3>Открыть БД</h3>
             </a>
           </div>
         </div>
	    </div>
      <div class="block">
        <!-- <a href="parser.html">Парсер</a> -->
        <img src="picture/Parser.png" alt="">
        <p>Предметы</p>
        <div class="oneemerge">
          <a href="data_base_subject.html">
            <div class="circleemerge">
              <img src="picture/Parser.png" alt="">
            </div>
            <h3>Предметы</h3>
          </a>
        </div>
      </div>



      <div class = "parse_funcs clear_fix">
        <h2>Функции парсера:</h2>
        <br><br>
        <h3>Парсить ссылки</h3>
        <form method="post">
          <input type="text" placeholder = "https://..." title = "Ссылки">
          <button type="button" name="button">Загрузить ссылки</button>
        </form>
        <p>Ссылок загружено: <b>20</b> шт.</p>
        <button type="button" name="button">Начать парсинг</button><br><br>
        <progress value="5" max="20">
          Текст
        </progress>
        <table>
          <th>сайт</th><th>цена</th><th>ссылка</th>
          <tr>
            <td>dns.ru</td><td>10 000</td><td>dns.ru/nootebook</td>
          </tr>
        </table>
        <br><br>
        <h3 title="Открывается дерево где устанавливаешь галочки">Парсить магазин</h3>
        <p>(Открывается дерево где устанавливаешь галочки)</p>
        <input type="text" name="" value="" list="list_of_models">
        <button type="button" name="button">Выбрать магазин</button>
        <datalist id="list_of_models">
          <option value="Все магазины">Все магазины</option>
            <option value="Ситилинк">Ситилинк</option>
            <option value="ДНС">ДНС</option>
            <option value="ОнлайнТрейд">ОнлайнТрейд</option>
        </datalist>
        <br>
        <input type="text" name="" value="" list="list_of_subjects" >
        <button type="button" name="button">Выбрать категории</button>
        <datalist id="list_of_subjects">
          <option value="Все категории">Все категории</option>
            <option value="Моноблоки">Моноблоки</option>
            <option value="Системные блоки">Системные блоки</option>
            <option value="Ноутбуки">Ноутбуки</option>
        </datalist>
	    </div>


      <div class = "footer clear_fix">
	       <p>База данных 2022</p>
	    </div>

    </div>

  </body>
</html>
