{% extends "base_page.html" %}
{% block content %}

<div class="data_base_menu">
  <li><a href="{{ url_for('subjects_form') }}">Предметы</a></li>
  <li><a href="{{ url_for('models_form') }}">Модели</a></li>
  <li><a href="#">Категории</a></li>
  <li><a href="#">ККН-ы</a></li>
</div>

<div class="subject list">
  <h3>Список предметов:</h3>
  <ul>
    {% for subject in subj_set %}
      <li>{{subject}} - - - <a href="{{url_for('sub_descript', sub_name = subject.name)}}">Удалить</a></li>
    {% endfor %}
    <!-- method="post" -->
  </ul>
</div>

<div class="subject form">
  <h3>Добавить пердмет: </h3>
  <form method="post">
    <input type="text" maxlength="255" name="subject_name" placeholder="Наименование предмета">
    <input type="submit" name="add_prototype" value="Добавить прототип">
  </form>
</div>
<br><br>
<p>Сортировать предметы по алфавиту, + по категориям</p>
<p>Предмет = ссалка на его описание, открывается в блоке справа</p>
{% endblock %}
