.checker_container{
  border: 2px dashed green;
  min-height: 500px;
  min-width: 500px;
}
.online_parser {width: 58%;}

.setting_blog {width: 36%;}

.check_block {
  background-color: white;
  min-height: 180px;
  float: left;
  box-sizing: border-box;
  border: 2px dashed green;
  margin-top: 2%;
  margin-left: 2%;
  padding: 1%;
  border-radius: 5px;
}
.clear_div {clear: both;}

.parsed_links{width: 96%;}

.parsed_links div {
  border: 1px dashed red;
  background: dodgerblue;
  color: white;
  margin: 5px;
  padding-left: 10px;
}
.parsed_links div:hover{
  background: black;
}
.circle_btn {
  float: right;
  margin-left: 5px;
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 1em;
}

#crcl_g:hover {background: green;}
#crcl_r:hover {background: red;}
#crcl_y:hover {background: yellow;}

.parser_nav_bar {
  font-size: 25px;
  width: 96%;
}
.parser_nav_bar a {
  margin-left: 10%;
}
